body{
	background-image:url("images/homeBackgr.jpg");
	min-height:620px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.titlu{
	position:relative;
	top:55px;
	opacity:0.8;
	background-color:white;
	width:30%;
	padding:3px;
	text-align:center;
	margin-left:10%;
	border-radius: 8px;
	border: 1px solid gray;
}



.gestPretServ{
	background-color:white;
	opacity:0.93;
	position: relative;
	width:75%;
	height:482px;
	max-height:490px;
	left:10%;
	top: 160px;
	border:3px solid  white;
	border-radius: 8px;
	overflow:auto;
	
}
	p, .pret{
		 letter-spacing: 3px;
	}
	p{
		font-size:22px;
	}
	.pret{
		font-size:18px;
		
	}
	
.progrChDr{
	/*border: 1px solid green;*/
	position:absolute;
	left:80%;
	width:5%;
	
}

.progrChSt{
	
	position:relative;
	left:1%;
	top:3%;
	width: 80%;
	height: 97%;
}


	
		
	.vizPretServ{
		position:absolute;
		width: 92%;
		max-height:83%;
		top:10%;
		
		margin-left:4%;
		margin-top:2%;
		border: 2px solid white;
		border-radius:8px;
		overflow:auto;
		
	}
	.color, .lighterColor{
		position:relative;
		font-size:18px;
		min-height:60px;
		border-radius: 8px;
	}
	.color{
		background-color:#f0f6ff;
		margin-top:8px;
		margin-bottom:8px;
	}
	
	.lighterColor{
		background-color:#e3eeff;
	}

.editPret{
	position:absolute;
	height:70%;
	top:7%;
	text-align:center;
	right:3%;
	width: 12%;
}
		.editPret a{
			text-decoration:none;
			background-image:linear-gradient(white,gray);
			border-radius:8px;
			font-size:16px;
			color:black;
		}

		/*
		.editPret a{
			
			text-decoration:none;
			background-image:linear-gradient(white,gray);
			border-radius:8px;
			font-size:16px;
			color:black;
		}
		
		.stergeServ a{
			
			text-decoration:none;
			background-image:linear-gradient(white,gray);
			border-radius:8px;
			font-size:16px;
			color:black;
		}*/


		.editNume a:hover{
			color:black;
			background-image:linear-gradient(white,#515953);
		}
		.editPret a:hover{
			color:black;
			background-image:linear-gradient(white,#515953);
		}
		.stergeServ a:hover{
			color:black;
			background-image:linear-gradient(white,#515953);
		}
		.vizPretDet a:hover{
			color:black;
			background-image:linear-gradient(white,#515953);
		}
	
